.imgProductComponent {
    height: 200px;
}
.colProductComponent {
    margin-top: 20px,
}
.cardBodyProduct { 
    text-align: center;
height: 115px;
}
.formControlProduct {
    text-align: center;
}
.inputGroupProduct {
    text-align: end;
}
.buttonProduct { 
    background-color: red;
}
.buttonProduct:hover { 
    background-color: red;
}
.buttonProductbutton {
    background-color: green;
}

.buttonProductbutton:hover {
    background-color: green;
}

