.backgroundScreen {
     background: #F1F0F2;
     height: 100vh;
    }

.cardTitleFormikPhone {
    text-align: center;
}
.formFormikPhoneForm {
    display: flex;
    justify-content: center;
}
.fieldFormikPhonefiel {
    border-radius: 20px;
    width: 35vh;
    text-align: center;
}
.errorsFormikPhoneErrors {
    height: 5vh;
    font-size: 12px;
    color: red;
    justify-content: center;
    display: flex;
}
.containerFormikPhoneForNumber {
    height: 40vh;
}