.cardTitlePaymentFormComponent {
    text-align: center;
    font-size: 20px;
}
.yoloyolo {
    
}
.col12PaymentFormComponent {
    justify-content: space-between;
    display: flex;
    padding: 10px 15px 0px 15px;
    padding-bottom: 5px;
}
.col8PaymentFormComponent {
    color: gray;
    width: 25vh;

    padding-left: 0px;
    padding-right: 0px;
}
.col4PaymentFormComponent {
    width: 15vh;
    color: gray;
    padding-right: 0px;
   
}
.cardNumberElementPaymentFormComponent{

    box-shadow: 0px 1px 0px grey;
}
.cardExpiryElementPaymentFormComponent {
    box-shadow: 0px 1px 0px grey;
}

.yoloptueez  {
    width: 25vh;
    border-bottom-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: gray;
    border-left-color: transparent;
}
.cardCVCElementPaymentFormComponent {
    box-shadow: 0px 1px 0px grey;
    padding-bottom: 0.6vh;
}
.CardPaymenntFormComponenentCard {
   
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 1px 1px 10px grey;
}
.buttonPayPaymentFormComponenent {
   
}