.container-all-form {
  display: flex;
  flex-direction: column;
}
  
.form-create-account {
  flex: 1;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.title-name-login{
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  font-size: 16px;
}
  
.title-phone-register{
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  font-size: 16px;
  margin-left: 1vh;
}
  
.title-password {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

.title-password-confirm {
  margin-top: 1.2vh;
  margin-bottom: 0vh;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
  
.form-field-error {
  margin-right: 1em;
  font-size: 0.8em;
  color: red;
  height: 12px;
  display: flex;
  justify-content: center;
}

.form-field-error-check{
  font-size: 12px;
  color: red;
  height: 68px;
  display: flex;
  justify-content: center;
  margin-top: 51px;
}

.pincode-input-container{
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
  margin-top: 1vh;
}

.container-check-button {
  margin-top: -6.6vh;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.container-check-buttonLogin {
  display: flex;
  justify-content: center;
}
  
.container-form-password {
  display: flex;
  justify-content: flex-start;
}

.containerInput {
  display: flex;
  justify-content: center;
}
  
.button-create-account {
  border-radius: 25px;
  background-color: #4DD5C7;
  border: none;
  width: 75%;
  height: 50px;
  color: white;
  font-weight: bold;
}

.form-input-name, .form-input-phone{
  border-radius: 11px;
  width: 85%;
  height: 5.8vh;
  margin-top: -1.3vh;
  border: none;
  text-align: center;
}

.form-input-nameLogin {
  border-radius: 11px;
  width: 85%;
  height: 5.8vh;
  margin-bottom: 1vh;
  border: none;
  text-align: center;
}

.title-name-register{
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 2vh;
}

.forget-password {
  display: flex;
  justify-content: center;

  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: 2vh;
}

.checkConsent {
  font-size: 13px;
  color: gray;
  word-spacing: 0px;
  margin-top: 3vh;
  margin-left: 6vh;
  margin-right: 10vh;
  position: relative;
  top: 8vh;
  display: flex;
  justify-content: center;
}

.iconBrableRegister{
  height: 7em;
  width: 13em;
  margin-left: 9vh;
  display: flex;
  justify-content: center;
}

.redirectCount {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-weight: bold;
}

.modalValidateRegister {
  border-radius: 25px;
}

::-webkit-input-placeholder {
  text-align: center;
}

.modalValidateRegister {
  display: flex;
  width: 54vh;
  height: 43vh;
  margin-top: 24vh;
}

.modalValidateTitle {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 0.8vh;
}

.welcomeRegister {
  justify-content: center;
  display: flex;
  margin-top: -2.1vh;
  margin-left: -3.9vw;
  width: 95.5vw;
  background: linear-gradient(0deg, #4dd5c7 10%, #6feba6 100%);
  height: 7vh;
  font-weight: bold;
  font-size: 29px;
  align-items: center;
  color: white;
  border-radius: 23px 23px 0px 0px;
}

.userRegister {
  color: black;
  font-size: 37px;
  display: flex;
  justify-content: center;
}

.linkPayment {
  color: #4DD5C7;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.iconBeer {
  width: 50px;
  position: absolute;
  margin-left: -1vh;
  margin-top: 0.5vh;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  height: 55px;
}

.iconBeer2 {
  width: 50px;
  height: 55px;
  position: absolute;
  margin-left: 42.5vh;
  margin-top: -9.1vh;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.box-holder::placeholder {
  color: gray;
  font-size: 18px;
}